#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 2rem;
  background-color: #fff;
}

.card__title {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.list-ordered {
  --list--padding-left: 2em;
  padding-left: var(--list--padding-left);
}

.list-ordered > li > ul {
  margin-left: calc(var(--list--padding-left) * -1);
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}