#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 2rem;
  background-color: #fff;
}

.card__title {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.stage__title {
  display: inline-block;
}

/* Lists */

.list-ordered-circle {
  padding-left: 0;
  list-style: none;
  counter-reset: item;
}

.list-ordered-circle__item {
  counter-increment: item;
}

.list-ordered-circle__item::before {
  content: counter(item);
  background-color: var(--global--color);
  color: var(--global--background-color);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  font-weight: 900;
  margin-right: 0.5em;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}