#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.text-center {
  text-align: center;
}

.text-error {
  color: red;
}

.card {
  padding: 2rem;
  background-color: #fff;
}

.card__title {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.stage__title {
  display: inline-flex;
  column-gap: 1em;
}

/* Lists */

.list-ordered-circle {
  padding-left: 0;
  list-style: none;
  counter-reset: item;
}

.list-ordered-circle__item {
  counter-increment: item;
}

.list-ordered-circle__item::before {
  content: counter(item);
  background-color: var(--global--color);
  color: var(--global--background-color);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  font-weight: 900;
  margin-right: 0.5em;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

/* checkmark */

.checkmark {
  --width: 1.5em;

  width: var(--width);
  height: calc(var(--width) / 2);
  border-left: 0.5em solid var(--global--color);
  border-bottom: 0.5em solid var(--global--color);
  transform: rotate(-45deg);
}